@import url('https://fonts.googleapis.com/css2?family=Arizonia&family=Permanent+Marker&family=Playfair+Display&family=Roboto:wght@400;900&family=Teko:wght@300;400&display=swap');

/* ==========================================================================
  Base styles: opinionated defaults
  ========================================================================== */

:root {
  --blue: #00aaff;
  --black: #222222;
}

html {
  color: var(--black);
  font-size: 1em;
  line-height: 1.4;
}

body {
  background: #fefefe;
  font-family: 'Roboto', sans-serif;
  margin: 0;
}

::-moz-selection {
  background: #b3d4fc;
  text-shadow: none;
}

::selection {
  background: #b3d4fc;
  text-shadow: none;
}

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}

audio,
canvas,
iframe,
img,
svg,
video {
  vertical-align: middle;
}

fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

textarea {
  resize: vertical;
}

/* ==========================================================================
   Custom styles
   ========================================================================== */

a {
  color: var(--blue);
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}

.container {
  margin: 0 auto;
  width: 100%;
  max-width: 1200px;
  font-size: 1.2em;
  line-height: 1.7em;
}

#site-header {
  margin: 0; 
  padding: 1em;
  background: var(--black);
  position: fixed;
  top: 0; left: 0; right: 0;
}

.site-logo {
  width: 40px;
}

.site-title {
  margin: 0;
  color: #ffffff;
  font-family: 'Teko', sans-serif;
  font-size: 2em;
  font-weight: 300;
  text-transform: uppercase;
  display: inline-block;
}
.site-title span {
  color: var(--blue);
}

#main-menu {
  height: 0;
  overflow: hidden;
  transition: height 0.4s;
}

#main-menu ul {
  padding: 0;
}
#main-menu ul li a {
  padding: .5em 1em;
  display: block;
}
#main-menu ul li a:hover {
  text-decoration: none;
}
#main-menu ul li:not(:first-child) {
  border-top: 1px solid #666666;
}

.menu-icon {
  margin-top: 5px;
  color: #ffffff;
}

input[type="checkbox"] {
  display: none;
}

input[type="checkbox"]:checked ~ #main-menu {
  height: 16em;
}

label.menu-icon {
  float: right;
  cursor: pointer;
  display: block;
  font-size: 2em;
}

section:not(:first-child) {
  padding: 10em 1em;
}

section h2 {
  margin: 0;
  font-family: 'Montserrat', sans-serif;
  font-size: 2.5em;
  line-height: 1.5em;
  text-align: center;
}

#home {
  padding: 120px 1em 2em;
  display: flex;
  align-items: center;
  min-height: calc(100vh - 90px - 4em);
  background: url('../img/home-background.webp') center / cover;
}

#instructional-design,
#resume {
  background: #f7f7f7;
}

.tagline em {
  padding-right: .1em;
  color: var(--blue);
  font-family: 'Permanent Marker', cursive;
  font-size: 1.5em;
  line-height: .75em;
  display: block;
}

.skills {
  margin: 0;
  padding: 0;
  text-align: center;
  line-height: 1.2em;
}
.skills li {
  margin: 0;
  padding: 1em;
  width: 300px;
  list-style-type: none;
  display: inline-block;
  font-size: .9em;
  vertical-align: top;
}
.skills li strong {
  display: block;
  font-weight: 900;
}
.skills li img {
  margin: 1em;
}

.button {
  margin: 2em auto;
  padding: .6em 1em;
  color: var(--black);
  background: var(--blue);
  border-radius: 4px;
  display: inline-block;
}
.button:hover {
  color: #ffffff;
  text-decoration: none;
}
.center {
  text-align: center;
}

#site-footer {
  margin: 0; 
  padding: 1em;
  color: #ffffff;
  background: var(--black);
  text-align: center;
}

.social-links {
  margin: 0;
  padding: 0;
}
.social-links li {
  list-style-type: none;
  display: inline-block;
}
.social-links li a img {
  width: 24px;
}

#contact-form {
  margin: 0 auto;
  width: 100%;
  max-width: 600px;
}
.form-group {
  margin-bottom: 20px;
}

label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
}

input[type="text"],
input[type="email"],
textarea {
  width: 100%;
  padding: 10px;
  font-size: 16px;
  border-radius: 5px;
  border: 1px solid #ccc;
  box-sizing: border-box;
  resize: none;
}

button[type="submit"] {
  background-color: #2196f3;
  color: #fff;
  border: none;
  padding: 10px 20px;
  font-size: 16px;
  border-radius: 5px;
  cursor: pointer;
}

/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Hide visually and from screen readers
 */

.hidden,
[hidden] {
  display: none !important;
}

/*
 * Hide only visually, but have it available for screen readers
 */
.sr-only {
  border: 0;
  clip: rect(0, 0, 0, 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  white-space: nowrap;
  width: 1px;
  /* 1 */
}

.sr-only.focusable:active,
.sr-only.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  white-space: inherit;
  width: auto;
}

/*
 * Hide visually and from screen readers, but maintain layout
 */

.invisible {
  visibility: hidden;
}

/*
 * Clearfix: contain floats
 */

.clearfix::before,
.clearfix::after {
  content: " ";
  display: table;
}

.clearfix::after {
  clear: both;
}

/* ==========================================================================
   Responsive Design.
   ========================================================================== */

@media only screen and (min-width: 600px) {
/* Style adjustments for viewports that meet the condition */

  .tagline em {
    display: inline;
  }

}

@media only screen and (min-width: 950px) {
  /* Style adjustments for viewports that meet the condition */

  #main-menu {
    margin-top: .5em;
    height: auto;
    float: right;
    font-size: .8em;
  }

  label.menu-icon {
    display: none;
  }

  #main-menu ul {
    margin: 0;
  }
  #main-menu ul li {
    list-style-type: none;
    display: inline-block;
  }
  #main-menu ul li:not(:first-child) {
    border: 0;
  }
  #main-menu ul li a {
    padding: .25em 1em;
    color: #ffffff;
    font-family: 'Montserrat', sans-serif;
    text-transform: uppercase;
    text-decoration: none;
    border-radius: 4px;
    display: block;
  }
  #main-menu ul li a:hover {
    color: var(--black);
    background: var(--blue);
    transition: 0.4s;
  }

}

@media only screen and (min-width: 35em) {
  /* Style adjustments for viewports that meet the condition */
}

@media print,
  (-webkit-min-device-pixel-ratio: 1.25),
  (min-resolution: 1.25dppx),
  (min-resolution: 120dpi) {
  /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   https://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

@media print {
  *,
  *::before,
  *::after {
    background: #fff !important;
    color: #000 !important;
    /* Black prints faster */
    box-shadow: none !important;
    text-shadow: none !important;
  }

  a,
  a:visited {
    text-decoration: underline;
  }

  a[href]::after {
    content: " (" attr(href) ")";
  }

  abbr[title]::after {
    content: " (" attr(title) ")";
  }

  /*
   * Don't show links that are fragment identifiers,
   * or use the `javascript:` pseudo protocol
   */
  a[href^="#"]::after,
  a[href^="javascript:"]::after {
    content: "";
  }

  pre {
    white-space: pre-wrap !important;
  }

  pre,
  blockquote {
    border: 1px solid #999;
    page-break-inside: avoid;
  }

  /*
   * Printing Tables
   */
  thead {
    display: table-header-group;
  }

  tr,
  img {
    page-break-inside: avoid;
  }

  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3;
  }

  h2,
  h3 {
    page-break-after: avoid;
  }
}

